*{
    margin: 0;
    padding: 0;
}

.main-two-nav{
    position: fixed;
    z-index: 100;
    width: 100%;
}

.anime-nav{
    width: 100%;
    height: 28px;
    background-color: rgb(255, 237, 217);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.slide{
    padding-left: 150px;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    font-weight: 500;
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: moveLeft 9s infinite;
}

@media screen and (max-width:1390px){
    .slide{
        padding-left: 100px;
    }
}

@media screen and (max-width:1360px){
    .slide{
        padding-left: 80px;
    }
}

@media screen and (max-width:1320px){P
    .slide{
        padding-left: 60px;
    }
}

@media screen and (max-width:1120px){
    .slide{
        font-size:11px;
    }
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 3s; }
.slide:nth-child(3) { animation-delay: 6s; }

@keyframes moveLeft {
  0%   { transform: translateX(100%); opacity: 0; }
  10%  { transform: translateX(0); opacity: 1; z-index: 1; }
  30%  { transform: translateX(0); opacity: 1; z-index: 1; }
  40%  { transform: translateX(-100%); opacity: 0; }
  100% { opacity: 0; }
}

.main-nav{
    display: flex;
    gap: 100px;
    padding-left: 130px;
    padding-top: 0px;
    height: 110px;
    background-color: rgb(47, 47, 47);
    align-items: center;
}

@media screen and (max-width:1390px){
    .main-nav{
        padding-left: 90px;
    }
}

@media screen and (max-width:1360px){
    .main-nav{
        padding-left: 70px;
    }
}

@media screen and (max-width:1320px){
    .main-nav{
        padding-left: 50px;
    }
}

@media screen and (max-width:1450px){
    .main-nav{
        gap: 70px;
    }
}

@media screen and (max-width:1380px){
    .main-nav{
        gap: 300px;
    }
}

@media screen and (max-width:1340px){
    .main-nav{
        gap: 250px;
    }
}

@media screen and (max-width:1330px){
    .main-nav{
        gap: 200px;
    }
}

@media screen and (max-width:1320px){
    .main-nav{
        gap: 100px;
    }
}

@media screen and (max-width:1300px){
    .main-nav{
        gap: 50px;
    }
}

@media screen and (max-width:1280px){
    .main-nav{
        gap: 200px;
    }
}

@media screen and (max-width:1260px){
    .main-nav{
        gap: 100px;
    }
}

@media screen and (max-width:1250px){
    .main-nav{
        gap: 80px;
    }
}

@media screen and (max-width:1180px){
    .main-nav{
        gap: 50px;
    }
}

@media screen and (max-width:1170px){
    .main-nav{
        gap: 40px;
    }
}

@media screen and (max-width:1160px){
    .main-nav{
        gap: 200px;
    }
}

@media screen and (max-width:1150px){
    .main-nav{
        gap: 150px;
    }
}

@media screen and (max-width:1140px){
    .main-nav{
        gap: 100px;
    }
}

@media screen and (max-width:1130px){
    .main-nav{
        gap: 50px;
    }
}

@media screen and (max-width:1120px){
    .main-nav{
        gap: 30px;
    }
}

@media screen and (max-width:1230px){
    .main-nav{
        gap: 300px;
    }
}

@media screen and (max-width:1160px){
    .main-nav{
        gap: 200px;
    }
}

@media screen and (max-width:1150px){
    .main-nav{
        gap: 100px;
    }
}

@media screen and (max-width:1140px){
    .main-nav{
        gap: 50px;
    }
}

@media screen and (max-width:1130px){
    .main-nav{
        gap: 400px;
        padding-left: 65px;
        background-image: url(./3\ bar\ icon.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: left;
        background-position: 20px;
    }
}


@media screen and (max-width:1120px){
    .main-nav{
        gap: 200px;
    }
}

@media screen and (max-width:1110px){
    .main-nav{
        gap: 100px;
    }
}

@media screen and (max-width:1100px){
    .main-nav{
        gap: 50px;
    }
}

@media screen and (max-width:1090px){
    .main-nav{
        gap: 10px;
    }
}

@media screen and (max-width:1290px){
    .main-nav{
        height: 100px;;
    }
}


@media screen and (max-width:1380px){
    .logo img{
        width: 320px;
    }
}

@media screen and (max-width:1280px){
    .logo img{
        width: 300px;
    }
}

@media screen and (max-width:1270px){
    .logo img{
        width: 280px;
    }
}

@media screen and (max-width:1160px){
    .logo img{
        width: 320px;
    }
}

@media screen and (max-width:1130px){
    .logo img{
        width: 280px;
    }
}

@media screen and (max-width:1120px){
    .logo img{
        width: 250px;
    }
}

@media screen and (max-width:1110px){
    .logo img{
        width: 230px;
    }
}

.right-nav{
    display: flex;
    gap: 35px;
}

.shop-search{
    display: flex;
    gap: 35px;
}



@media screen and (max-width:1500px){
    .right-nav{
        gap: 34px;
    }
}

@media screen and (max-width:1450px){
    .right-nav{
        gap: 33px;
    }
}

@media screen and (max-width:1430px){
    .right-nav{
        gap: 30px;
    }
}

@media screen and (max-width:1420px){
    .right-nav{
        gap: 29px;
    }
}

@media screen and (max-width:1350px){
    .right-nav{
        gap: 28px;
    }
    .shop-search{
        gap: 28px;
    }
}

@media screen and (max-width:1340px){
    .right-nav{
        gap: 25px;
    }
    .shop-search{
        gap: 27px;
    }
}

@media screen and (max-width:1310px){
    .shop-search{
        gap: 25px;
    }
}

@media screen and (max-width:1380px){
    .right-nav{
        gap: 55px;
    }
    .shop-search{
        display: block;
    }
    .product{
        padding-top: 20px;
        text-align: end;
    }

    .product input{
        width: 180px;
    }

    .facebook,.linkidn,.wishlist,.cart{
        padding-top: 20px;
    }
}

@media screen and (max-width:1220px){
    .right-nav{
        gap: 40px;
    }
}

@media screen and (max-width:1210px){
    .right-nav{
        gap: 30px;
    }
}

@media screen and (max-width:1200px){
    .right-nav{
        gap: 20px;
    }
}

@media screen and (max-width:1190px){
    .right-nav{
        gap: 15px;
    }
}

@media screen and (max-width:1130px){
    .shop-search{
        display: none;
    }
}

@media screen and (max-width:1160px){
    .wishlist img,.cart img{
        width: 38px;
    }
    .facebook img,.linkidn img{
        width: 30px;
    }
}


.right-nav .atag{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 450;
    padding-top: 5px;
}

@media screen and (max-width:1500px){
    .right-nav .atag{
        font-size: 15px;
    }
}

@media screen and (max-width:1290px){
    .right-nav .atag{
        font-size: 13px;
    }
}

@media screen and (max-width:1280px){
    .right-nav .atag{
        font-size: 15px;
    }
}

@media screen and (max-width:1240px){
    .right-nav .atag{
        font-size: 14px;
    }
}

@media screen and (max-width:1230px){
    .right-nav .atag{
        font-size: 13px;
    }
}

.right-nav .atag:hover{
    color: rgb(255, 25, 155);
}

.product input{
    width: 180px;
    height: 35px;
    background-color:rgb(56, 56, 56);
    outline: none;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 4px;
    align-items: center;
    padding-left: 10px;
    color: rgb(182, 182, 182);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-image: url(./icons8-search-50.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right;
    
}

@media screen and (max-width:1400px){
    .product input{
        width: 160px;
    }
}

@media screen and (max-width:1370px){
    .product input{
        width: 150px;
        background-size: 23px;
        height: 32px;
    }
}

@media screen and (max-width:1360px){
    .product input{
        width: 138px;
        background-size: 21px;
        height: 32px;
    }
}

.just-nav{
    padding-top: 100px;
}

.main-sec{
    padding-top: 38px;
    background-image: url(./Mainimg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 591px;   
}


.welcome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    padding-left: 400px;
    padding-top: 60px;
    color: white;
}

.chemp-text{
    padding-left: 370px;
    padding-top: 30px;
}

.online{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    padding-left: 400px;
    color: white;
    font-weight: 600;
}

.shop-btn {
    padding-left: 400px;
    padding-top: 25px;
}

.shop-btn button{
    width: 180px;
    height: 45px;
    border: 1px solid gray;
    background-color: rgb(240, 240, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(106, 106, 106);
    font-weight: 700;
}

.shop-btn :hover{
    background-color: white;
}

.disc-btn {
    padding-left: 400px;
    padding-top: 25px;
}

.disc-btn button{
    width: 200px;
    height: 45px;
    border: 1px solid gray;
    background-color: rgb(240, 240, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(106, 106, 106);
    font-weight: 700;
}

.disc-btn :hover{
    background-color: white;
}

@media screen and (max-width:1450px){
    .welcome{
        padding-left: 300px;
    }

    .chemp-text{
        padding-left: 300px;
    }

    .online{
        padding-left: 300px;
    }

    .shop-btn{
        padding-left: 300px;
    }

    .disc-btn{
        padding-left: 300px;
    }

    .watsapp{
        padding-top: 80px;
    }
}

@media screen and (max-width:1350px){
    .welcome{
        padding-left: 200px;
    }

    .chemp-text{
        padding-left: 200px;
    }

    .online{
        padding-left: 200px;
    }

    .shop-btn{
        padding-left: 200px;
    }

    .disc-btn{
        padding-left: 200px;
    }
}

@media screen and (max-width:1350px){
    .welcome{
       font-size: 40px;
    }

    .chemp-text img{
        width: 300px;
    }

    .online{
        font-size: 40px;
    }

    .shop-btn button{
        width: 150px;
        font-size: 12px;
    }

    .disc-btn button{
        width: 180px;
        font-size: 12px;
    }
}

@media screen and (max-width:1250px){
    .welcome{
       padding-left: 100px;
    }

    .chemp-text{
        padding-left: 100px;
    }

    .online{
        padding-left: 100px;
    }

    .shop-btn{
        padding-left: 100px;
    }

    .disc-btn{
        padding-left: 100px;
    }

    .watsapp{
        padding: 20px;
    }
}

@media screen and (max-width:1100px){
    .welcome{
       padding-left: 50px;
       padding-top: 100px;
    }

    .chemp-text{
        padding-left: 50px;
    }

    .chemp-text img{
        width: 380px;
    }

    .online{
        padding-left: 50px;
    }

    .shop-btn{
        padding-left: 50px;
    }

    .disc-btn{
        padding-left: 50px;
    }
    
}

.watsapp{
    text-align: end;
    padding-right: 70px;
}

.watsapp img{
    width: 55px;
    position: fixed;
    z-index: 100;
}

.select-opt{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.select-opt p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 16px;
}

.kids img{
    border-radius: 100%;
    width: 180px;
}

.kurtas img{
    border-radius: 100%;
    width: 180px;
}

.party img{
    border-radius: 100%;
    width: 180px;
}

.sale img{
    border-radius: 100%;
    width: 180px;
}

.sarees img{
    border-radius: 100%;
    width: 180px;
}

.stitch img{
    border-radius: 100%;
    width: 180px;
}

.unstitch img{
    border-radius: 100%;
    width: 180px;
}

@media screen and (max-width:1500px){
    .kids img{
        width: 160px;
    }

    .kurtas img{
        width: 160px;
    }

    .party img{
        width: 160px;
    }

    .sale img{
        width: 160px;
    }

    .sarees img{
        width: 160px;
    }

    .stitch img{
        width: 160px;
    }

    .unstitch img{
        width: 160px;
    }

    .select-opt p{
        font-size: 15px;
    }
}

@media screen and (max-width:1400px){
    .kids img{
        width: 140px;
    }

    .kurtas img{
        width: 140px;
    }

    .party img{
        width: 140px;
    }

    .sale img{
        width: 140px;
    }

    .sarees img{
        width: 140px;
    }

    .stitch img{
        width: 140px;
    }

    .unstitch img{
        width: 140px;
    }

    .select-opt p{
        font-size: 14px;
    }
}

@media screen and (max-width:1300px){
    .kids img{
        width: 120px;
    }

    .kurtas img{
        width: 120px;
    }

    .party img{
        width: 120px;
    }

    .sale img{
        width: 120px;
    }

    .sarees img{
        width: 120px;
    }

    .stitch img{
        width: 120px;
    }

    .unstitch img{
        width: 120px;
    }

    .select-opt p{
        font-size: 13px;
    }
}

@media screen and (max-width:1200px){
    .kids img{
        width: 220px;
    }

    .kurtas img{
        width: 220px;
    }

    .party img{
        width: 220px;
    }

    .sale img{
        width: 220px;
    }

    .sarees{
        display: none;
    }

    .stitch{
        display: none;
    }

    .unstitch{
        display: none;
    }

    .select-opt p{
        font-size: 18px;
    }
}

@media screen and (max-width:1100px){
    .kids img{
        width: 190px;
    }

    .kurtas img{
        width: 190px;
    }

    .party img{
        width: 190px;
    }

    .sale img{
        width: 190px;
    }

    .sarees{
        display: none;
    }

    .stitch{
        display: none;
    }

    .unstitch{
        display: none;
    }

    .select-opt p{
        font-size: 16px;
    }
}

@media screen and (max-width:1080px){
    .kids img{
        width: 300px;
    }

    .kurtas img{
        width: 300px;
    }

    .party {
        display: none;
    }

    .sale{
        display: none;
    }

    .sarees{
        display: none;
    }

    .stitch{
        display: none;
    }

    .unstitch{
        display: none;
    }

    .select-opt p{
        font-size: 20px;
    }

    .select-opt{
        gap: 30px;
    }
}

@media screen and (max-width:600px){
    .kids img{
        width: 200px;
    }

    .kurtas img{
        width: 200px;
    }

    .party{
        display: none;
    }

    .sale{
        display: none;
    }

    .sarees{
        display: none;
    }

    .stitch{
        display: none;
    }

    .unstitch{
        display: none;
    }

    .select-opt p{
        font-size: 15px;
    }

}

.best{
    text-align: center;
    padding-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: gray;
    font-weight: 630;
}

.best-card{
    padding-left: 100px;
    width: 280px;
    padding-top: 50px;
}

.best-img img{
    width: 280px;
    height: 280px;
}

.best-text-wish{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
}

.best-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

.best-wish img{
    width: 25px;
}

.best-price{
    padding-left: 5px;
    padding-top: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.best-cart{
    padding-top: 20px;
}

.best-cart button{
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
    outline: none;
    width: 120px;
    height: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: 600;
}

.best-cart :hover{
    background-color: white;
}

.browse-more{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.browse-more button{
    width: 250px;
    height: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    background-color: white;
    border: 1px solid rgb(138, 138, 138);
    outline: none;
    font-weight: 600;
    font-size: 14px;
}

.browse-more :hover{
    background-color: rgb(239, 239, 239);
}

.new-arrivals{
    text-align: center;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: gray;
    font-weight: 630;
}

.new-main-cards{
    padding-top: 50px;
    display: flex;
    justify-content:center;
    gap: 40px;
}

.new-card{
    width: 250px;
    padding-top: 50px;
}

.new-img img{
    width: 250px;
    height: 250px;
}

.new-text-wish{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
}

.new-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

.new-wish img{
    width: 25px;
}

.new-price{
    padding-left: 5px;
    padding-top: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.new-cart{
    padding-top: 20px;
}

.new-cart button{
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
    outline: none;
    width: 120px;
    height: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: 600;
}

.new-cart :hover{
    background-color: white;
}

.first-new-card{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.second-new-card{
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media screen and (max-width:1200px){
    .new-main-cards{
        gap: 20px;
    }

    .first-new-card{
        gap: 20px;
    }

    .second-new-card{
        gap: 20px;
    }
}

@media screen and (max-width:1100px){
    .new-main-cards{
        gap: 10px;
    }

    .first-new-card{
        gap: 10px;
    }

    .second-new-card{
        gap: 10px;
    }
}

@media screen and (max-width:1120px){
    .new-card{
        width: 200px;
        padding-top: 50px;
    }

    .new-img img{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:1070px){
    .new-card{
        width: 150px;
        padding-top: 50px;
    }

    .new-img img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:700px){
    .new-main-cards{
        display: block;
    }

    .new-card{
        width: 230px;
        padding-top: 50px;
    }

    .new-img img{
        width: 230px;
        height: 230px;
    }
}

.footer{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 180px;
    height: 300px;
    background-color: rgb(22, 21, 21);
}

@media screen and (max-width:1400px){
    .footer{
        gap: 100px;
    }
}

@media screen and (max-width:1300px){
    .footer{
        gap: 50px;
    }
}

@media screen and (max-width:1200px){
    .footer{
        gap: 20px;
    }
}

@media screen and (max-width:1100px){
    .footer{
        display: block;
        height: 950px;
        padding-left: 100px;
    }

    .main-head{
        padding-top: 30px;
    }
}


@media screen and (max-width:900px){
    .footer{
        padding-left: 50px;
    }
}

.app-icons{
    padding-top: 50px;
    display: flex;
    gap: 30px;
}

.rights{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 50px;
    font-size: 12px;
}

.main-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.paras{
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(170, 170, 170);
    font-size: 14px;
    line-height: 35px;
}

.paras p:hover{
    color: rgb(255, 25, 155);
}


